{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- bloco_passiva_renda_index_about -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:970px;height:250px"
                     data-ad-client="ca-pub-7984159379927631"
                     data-ad-slot="6004326250"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <div class="row">
            <!-- Latest Posts -->
            <main class="posts-listing col-lg-8">
                <div class="container">
                    <div class="row">
                        {% for post in posts %}
                            <div class="post col-xl-6">
                                <div class="post-thumbnail"><a href="{% url 'post_slug' post.slug %}"><img
                                        src="{{ post.imagem_principal }}"
                                        alt="{{ post.slug }}"
                                        class="img-fluid"></a></div>
                                <div class="post-details">
                                    <div class="post-meta d-flex justify-content-between">
                                        <div class="date meta-last">{{ post.created_at|date:'d F | Y' }}</div>
                                        <div class="category"><a
                                                href="{% url 'categoria' post.categoria.pk %}">{{ post.categoria }}</a>
                                        </div>
                                    </div>
                                    <a href="{% url 'post_slug' post.slug %}">
                                        <h3 class="h4">{{ post.titulo }}</h3></a>
                                    <p class="text-muted">{{ post.resumo }}</p>
                                    <footer class="post-footer d-flex align-items-center"><a href="#"
                                                                                             class="author d-flex align-items-center flex-wrap">
                                        <div class="title"><span>{{ post.autor }}</span></div>
                                    </a>
                                        <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                                        <div class="views"><i class="icon-eye"></i> {{ p.views }}</div>
                                        <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comments }}
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        {% empty %}
                            <h4>Ainda não temos postagem para esta categoria!</h4>
                        {% endfor %}
                    </div>

                    {% if is_paginated %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-template d-flex justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}"
                                                             class="page-link"> <i
                                            class="fa fa-angle-left"></i> <span></span></a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><a href="#"
                                                                      class="page-link"> <i
                                            class="fa fa-angle-left"></i> <span></span></a>
                                    </li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item"><a href="#" class="page-link active"><span>{{ i }} <span
                                                class="sr-only">(current)</span></span></a></li>
                                    {% else %}
                                        <li class="page-item"><a href="?page={{ i }}"
                                                                 class="page-link"><span>{{ i }}</span></a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}"
                                                             class="page-link">
                                        <i
                                                class="fa fa-angle-right"></i></a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><a href="#" class="page-link">
                                        <i class="fa fa-angle-right"></i></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </main>
            <aside class="col-lg-4">
                <div class="widget latest-posts">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- banner_passiva_renda_index_inscreverse -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7984159379927631"
                         data-ad-slot="3565919078"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

                <!-- Widget [Search Bar Widget]-->
                {#                <div class="widget search">#}
                {#                    <header>#}
                {#                        <h3 class="h6">Search the blog</h3>#}
                {#                    </header>#}
                {#                    <form action="#" class="search-form">#}
                {#                        <div class="form-group">#}
                {#                            <input type="search" placeholder="What are you looking for?">#}
                {#                            <button type="submit" class="submit"><i class="icon-search"></i></button>#}
                {#                        </div>#}
                {#                    </form>#}
                {#                </div>#}
                <!-- Widget [Latest Posts Widget]        -->
                <div class="widget latest-posts">
                    <header>
                        <h3 class="h6">Últimos Posts</h3>
                    </header>
                    <div class="blog-posts">
                        {% for p in latest %}
                            <a href="{% url 'post_slug' p.slug %}">
                                <div class="item d-flex align-items-center">
                                    <div class="image"><img src="{{ p.imagem_principal }}" alt="{{ p.slug }}"
                                                            class="img-fluid">
                                    </div>
                                    <div class="title"><strong>{{ p.titulo }}</strong>
                                        <div class="d-flex align-items-center">
                                            <div class="views"><i class="icon-eye"></i> {{ p.views }}</div>
                                            <div class="comments"><i class="icon-comment"></i>{{ p.comments }}</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <!-- Widget [Categories Widget]-->
                <div class="widget categories">
                    <header>
                        <h3 class="h6">Categorias</h3>
                    </header>
                    {% for categoria in categorias %}
                        <div class="item d-flex justify-content-between"><a
                                href="{% url 'categoria' categoria.pk %}">{{ categoria }}</a><span>{{ categoria.post_set.count }}</span>
                        </div>
                    {% endfor %}

                </div>
                <!-- Widget [Tags Cloud Widget]-->
                <div class="widget tags">
                    <header>
                        <h3 class="h6">Tags</h3>
                    </header>
                    <ul class="list-inline">
                        {% for tag in tags %}
                            <li class="list-inline-item"><a href="#" class="tag">#{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
        </div>
    </div>
    <!-- Page Footer-->
{% endblock %}