{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    <!-- Hero Section-->
    <section
            style="background: url('{% static 'tema/img/hero.jpg' %}'); background-size: cover; background-position: center center"
            class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1>Recursos inevitáveis para uma vida de Sucesso</h1>
                    {#              <a href="#" class="hero-link">Discover More</a>#}
                </div>
            </div>
            <a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
        </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="h3">Quem Somos</h2>
                    <p class="text-big">
                        Passiva Renda é um premiado site de aconselhamento de carreira, sucesso profissional e coaching
                        que
                        fornece artigos detalhados, vídeos, slides e
                        infográficos para ajudar as pessoas a encontrar empregos, buscar uma vida de felicidade e que
                        elas
                        cresçam, tenham sucesso em suas carreiras, na vida espiritual, financeira, conjugal e
                        familiar.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Divider Section-->
    <section
            style="background: url('{% static 'tema/img/divider-bg.jpg' %}'); background-size: cover; background-position: center bottom"
            class="divider">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua</h2><a href="#" class="hero-link">View More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts">
        <div class="container">
            <header>
                <h2>Últimos artigos de sucesso</h2>
                <p class="text-big">Aqui estão alguns artigos detalhados sobre sucesso. Mais artigos estão disponíveis
                    na
                    seção Blog.</p>
            </header>
            <div class="row">
                {% for post in posts %}
                    <div class="post col-md-4">
                        <div class="post-thumbnail"><a href="{% url 'post_slug' post.slug %}"><img
                                src="{{ post.imagem_principal }}" alt="{{ post.titulo }}"
                                class="img-fluid"></a></div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date">{{ post.created_at|date:'d F | Y' }}</div>
                                <div class="category"><a href="#">{{ post.categoria }}</a></div>
                            </div>
                            <a href="{% url 'post_slug' post.slug %}">
                                <h3 class="h4">{{ post.titulo }}</h3></a>
                            <p class="text-muted">{{ post.resumo|truncatechars:'300' }}</p>
                        </div>
                    </div>
                {% empty %}
                    <div class="post col-md-4">
                        <div class="post-thumbnail"><a href="post.html"><img src="{% static 'tema/img/blog-1.jpg' %}"
                                                                             alt="..."
                                                                             class="img-fluid"></a></div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date">20 May | 2016</div>
                                <div class="category"><a href="#">Business</a></div>
                            </div>
                            <a href="#">
                                <h3 class="h4">Ways to remember your important ideas</h3></a>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod
                                tempor incididunt ut labore.</p>
                        </div>
                    </div>
                    <div class="post col-md-4">
                        <div class="post-thumbnail"><a href="post.html"><img src="{% static 'tema/img/blog-2.jpg' %}"
                                                                             alt="..."
                                                                             class="img-fluid"></a></div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date">20 May | 2016</div>
                                <div class="category"><a href="#">Technology</a></div>
                            </div>
                            <a href="#">
                                <h3 class="h4">Diversity in Engineering: Effect on Questions</h3></a>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod
                                tempor incididunt ut labore.</p>
                        </div>
                    </div>
                    <div class="post col-md-4">
                        <div class="post-thumbnail"><a href="post.html"><img src="{% static 'tema/img/blog-3.jpg' %}"
                                                                             alt="..."
                                                                             class="img-fluid"></a></div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date">20 May | 2016</div>
                                <div class="category"><a href="#">Financial</a></div>
                            </div>
                            <a href="#">
                                <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod
                                tempor incididunt ut labore.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Newsletter Section-->
    <section class="newsletter no-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Subscribe to Newsletter</h2>
                    <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-md-8">
                    <div class="form-holder">
                        <form action="#">
                            <div class="form-group">
                                <input type="email" name="email" id="email" placeholder="Type your email address">
                                <button type="submit" class="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Footer-->

{% endblock %}