{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    <!-- Hero Section-->
    <section
            style="background: url('{% static 'tema/img/hero.jpg' %}'); background-size: cover; background-position: center center"
            class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1>Recursos inevitáveis para uma vida de Sucesso</h1>
                    {#              <a href="#" class="hero-link">Discover More</a>#}
                </div>
            </div>
            <a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
        </div>
    </section>
    <!-- Intro Section-->
    <section class="intro" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="h3">Quem Somos</h2>
                    <p class="text-big">
                        Passiva Renda é um premiado site de aconselhamento de carreira, sucesso profissional e coaching
                        que
                        fornece artigos detalhados, vídeos, slides e
                        infográficos para ajudar as pessoas a encontrar empregos, buscar uma vida de felicidade e que
                        elas
                        cresçam, tenham sucesso em suas carreiras, na vida espiritual, financeira, conjugal e
                        familiar.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Divider Section-->
    <section
            style="background: url('{% static 'tema/img/divider-bg.jpg' %}'); background-size: cover; background-position: center bottom"
            class="divider">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2>A vida é curta demais; e temos muita coisa útil a realizar; de maneira que não se justifica a
                        nossa preocupação em responder na altura a todas as coisas desagradáveis que ouvimos.</h2><a
                        href="#.divider" class="hero-link">Napoleon Hill</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts">
        <div class="container">
            <header>
                <h2>Últimos artigos de sucesso</h2>
                <p class="text-big">Aqui estão alguns artigos detalhados sobre sucesso. Mais artigos estão disponíveis
                    na
                    seção Blog.</p>
            </header>
            <div class="row">
                {% for post in latest %}
                    <div class="post col-md-4">
                        <div class="post-thumbnail"><a href="{% url 'post_slug' post.slug %}"><img
                                src="{{ post.imagem_principal }}" alt="{{ post.titulo }}"
                                class="img-fluid"></a></div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date">{{ post.created_at|date:'d F | Y' }}</div>
                                <div class="category"><a href="#">{{ post.categoria }}</a></div>
                            </div>
                            <a href="{% url 'post_slug' post.slug %}">
                                <h3 class="h4">{{ post.titulo }}</h3></a>
                            <p class="text-muted">{{ post.resumo|truncatechars:'300' }}</p>
                        </div>
                    </div>
                {% empty %}
                    <div class="post col-md-4">
                        <div class="post-thumbnail"><a href="post.html"><img src="{% static 'tema/img/blog-1.jpg' %}"
                                                                             alt="..."
                                                                             class="img-fluid"></a></div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date">20 May | 2016</div>
                                <div class="category"><a href="#">Business</a></div>
                            </div>
                            <a href="#">
                                <h3 class="h4">Ways to remember your important ideas</h3></a>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod
                                tempor incididunt ut labore.</p>
                        </div>
                    </div>
                    <div class="post col-md-4">
                        <div class="post-thumbnail"><a href="post.html"><img src="{% static 'tema/img/blog-2.jpg' %}"
                                                                             alt="..."
                                                                             class="img-fluid"></a></div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date">20 May | 2016</div>
                                <div class="category"><a href="#">Technology</a></div>
                            </div>
                            <a href="#">
                                <h3 class="h4">Diversity in Engineering: Effect on Questions</h3></a>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod
                                tempor incididunt ut labore.</p>
                        </div>
                    </div>
                    <div class="post col-md-4">
                        <div class="post-thumbnail"><a href="post.html"><img src="{% static 'tema/img/blog-3.jpg' %}"
                                                                             alt="..."
                                                                             class="img-fluid"></a></div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date">20 May | 2016</div>
                                <div class="category"><a href="#">Financial</a></div>
                            </div>
                            <a href="#">
                                <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod
                                tempor incididunt ut labore.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Newsletter Section-->
    <section class="newsletter no-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Inscreva-se para receber Novidades</h2>
                    <p class="text-big">Sua participação é importante para nós, inscreva-se!</p>
                </div>
                <div class="col-md-8">
                    <div class="form-holder">
                        <div class="form-group">
                            <!-- Begin Mailchimp Signup Form -->
                            <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet"
                                  type="text/css">
                            <style type="text/css">
                                #mc_embed_signup {
                                    background: #fff;
                                    clear: left;
                                    font: 14px Helvetica, Arial, sans-serif;
                                }

                                #mc_embed_signup form {
                                    padding-left: 0px;
                                }

                                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                            </style>
                            <div id="mc_embed_signup">
                                <form action="https://passivarenda.us20.list-manage.com/subscribe/post?u=2751b3d03bff4d1bdc85eb45f&amp;id=d8d60e5bb6"
                                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                      class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                                               placeholder="Seu melhor email" required>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                                type="text" name="b_2751b3d03bff4d1bdc85eb45f_d8d60e5bb6" tabindex="-1"
                                                value=""></div>
                                        <div class="clear">
                                            <input type="submit" value="Inscrever-se" name="subscribe"
                                                   id="mc-embedded-subscribe" class="button">
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!--End mc_embed_signup-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Footer-->

{% endblock %}